<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
				<property name="url" value="jdbc:log4jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="C##ONEDU"/>
				<property name="password" value="ONEDU"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>

		<!-- 임태미 -->
		<mapper resource="com/onedu/mvc/member/model/dao/MemberDAO.xml"/>
		<mapper resource="com/onedu/mvc/goods/model/dao/OrderDAO.xml"/>
		
		<!-- 임수연 -->
		
		
		<!-- 유혜원 -->
		<mapper resource="com/onedu/mvc/goods/model/dao/GoodsDAO.xml"/>
		
		<!-- 송연지 -->
		<mapper resource="com/onedu/mvc/board/model/dao/AskDAO.xml"/>
		<mapper resource="com/onedu/mvc/board/model/dao/ReviewDAO.xml"/>
		<mapper resource="com/onedu/mvc/cart/model/dao/CartDAO.xml"/>
				
		<!-- 김세영 -->
		

	</mappers>
</configuration>
