@charset "UTF-8";
.header_hidden{
    width: 100%;
    height: 150px;
    text-align: center;
    visibility: hidden; /*숨김*/
}

*{
	margin: 0;
	padding:0;
}
/* 화면 전체 렙 */
.wrapper{
	width: 1900px;
}
/* content 랩 */
.wrap{
	/* width : 1080px; */
	margin: auto;
}


.list_item_category ul {
    padding: 0;
    background-color: #E3E0E0;
}

.list_item_category ul {
    display: inline-block;
    width: 100%;
    padding: 20px 20px 5px 20px;
    font-size: 0;
    height: 50px;
}

.list_item_category ul li {
    width: auto;
    margin-right: 50px;
}

.list_item_category li {
    display: inline-block;
    width: 20%;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.list_item_category span {
    font-size: 20px;
    color: #868484;
    
}

.list_item_category a {
    text-decoration: none;
    
}

.list_item_category a:hover {
    font-weight:bolder;
}

.list_item_category span:hover {
    color: black;
}


/* 제품 목록 네비 */
.navi_bar_area{
	width: 100%;
    height: 70px;
    background-color: #7696fd;
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
    height: 1000px;
}


body, th, td, input, select, textarea, button, a {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    color: #000;
    letter-spacing: -0.5px;
}

body, th, td, input, select, textarea, button {
    font-size: 12px;
    line-height: 1.5;
    font-family: Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    color: #333;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
}

dl, ul, ol, li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.goods_list_cont ul {
    float: left;
    width: 100%;
    font-size: 0;
}


/* .goods_list_cont ul li {
    /* width: calc(33.3333% - 33.334px) ! important; */
    /* margin: 50px 50px 0 0; */
} */

.goods_list_cont ul li {
    margin: 43px 43px 0 0;
}

.goods_list_cont ul li {
    display: inline-block;
    position: relative;
    /* min-height: 50px; */
    margin: 40px 0 0 0;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

.item_cont {
    padding: 0;
}

.item_cont {
    padding: 0 10px;
    text-align: left;
    color: #1c1c1c;
}

.item_name {
    font-size: 25px;
}

.item_e_name {
    font-size: 15px;
}

.item_tit_box a{
    text-decoration: none;
}
