@charset "UTF-8";       /* 인코딩 문자 깨짐 방지 */

/* 공통속성 */

html {
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size : 100%;
}

body {
    line-height: 2.0;
    color : #432;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color : #432;
}

img { 
    border: 0 none;
    vertical-align: top;
}
/* 기본 요소의 적용되는 margin, padding값 0으로 초기화*/
body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, textarea, 
p, blockquote, th, td, input, select, 
textarea, button {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}
/* 리스트 블릿 기호 삭제 */
dl, ul, ol, li {
    list-style: none;
}


/*--------------------------------------------------------------------------------------------------------------*/


/* 메인 홈페이지 div박스 */
/* div#home {
    background-color: rgb(185, 185, 185);
    width: 100%;
    height: 700px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    overflow:hidden;
} */

/* 메인 첫화면 배경이미지 */
.main-img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* main image ----------------------------------------------------------------------------------------------------- */
/* img 위에 글씨, 버튼 올리기 */
.display_container {
    position:relative;
    font-family: 'Nanum Gothic', sans-serif;
}

.display_bottommiddle {
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
}

/* 꼭, 구독 bold */
span {
    font-weight: bold;
}    

/* 위의 문구 */
.jumbo {
    font-size:40px!important;
    color: #432;
    letter-spacing: 10px;
    font-weight: 500;
    line-height: 65px;
}

/* 버튼, 아래 문구 가운데 정렬 */
.center {
    text-align:center!important;
}

/* 원두 취향 테스트와 위의 문구 margin */
.main_img_margin {
    margin:16px!important;
}

/* 원두 취향 테스트 버튼 */
.main_img_button {
    border:none;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}    

/* 원두 취향 테스트 버튼 */
.btn_recomm {
    color:rgb(230, 230, 230)!important;
    background-color:black!important;
    border-radius:12px;
    opacity:0.8;
}

.main_img_button:hover {
    color:#432!important;
    background-color:#F4F1F1!important;
    border-radius:12px;
    opacity:0.8;
}

/* 원두 취향 테스트 padding */
.padding_large {
    padding:12px 24px!important
}

/* 원두 취향 테스트 글씨 크기 */
.main_large {
    font-size:18px!important
}

.margin_top {
    margin-top:16px!important;
    margin-bottom: 16px;
}

/* 아래 문구 */
.recomm {
    font-size: 18px;
    line-height: 7px;
    color: #432;
    letter-spacing: 2px;
}

/* img 아래부터 padding */
.padding_32 {
    padding-bottom:32px!important
}




/* footer ----------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, address, caption, em, th, p {
    font-style: normal;
    font-weight: normal;
}

footer {
    font-family: 'Nanum Gothic', sans-serif;
}

#footer {
    min-width: 1100px;
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
    background: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
}

#footer .footer-top {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0 0;
}

#footer .footer-top .footer-policy {
    float: left;
    padding-left: 0;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#footer .footer-top .footer-policy li:first-child {
    margin-left: 0;
}

#footer .footer-top .footer-policy li {
    float: left;
    margin-left: 18px;
}

#footer .footer-top .footer-policy li a {
    display: block;
    color: white;
    line-height: 30px;
    font-size: 1em;
}

#footer .footer-bottom {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}

#footer .footer-bottom .footer-inner {
    width: 600px;
}

#footer .footer-bottom .footer-info {
    float: left;
    font-size: 0.8em;
}

#footer p {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;  
}

#footer .footer-bottom .footer-info p.copy {
    display: block;
}

#footer .footer-bottom .footer-info p {
    display: inline-block;
    vertical-align: top;
}

#footer .footer-bottom .footer-call {
    float: right;
    font-size: 0.8em;
}

#footer-cs {
    font-size: medium;
    font-weight: 600;
}
