@charset "UTF-8";       /* 인코딩 문자 깨짐 방지 */

/* 공통 속성 */

html {
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size : 100%;
}

body {
    line-height: 2.0;
    color : #432;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}


img {
    border: 0 none;
    vertical-align: top;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

dl, ul, ol, li {
    list-style: none;
}



/*----------------------------------------------------------------------------------------------------------*/
/* 헤더 영역 비워놓기 */
.header_hidden{
    width: 100%;
    height: 150px;
    text-align: center;
    visibility: hidden; /*숨김*/
}

.container-fluid {
    padding: 100px;
}


/*관리 페이지 시작 사이드바/메인 기본 설정-----------------------------------------------------------------------------------------------------------*/
/* 박스 모서리 둥글게 border-radius: 25px; */

/* 사이드바 div box 영역 사이즈 */
.side-box {
    /* border: 3px solid #F3EFEF; */
    background: #F3EFEF; 
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;
    height: 100%;
} 

/* 메인 div 영역 사이즈 */
.main-box{
    /* border: 3px solid #F3EFEF;  */
    /* background: #F3EFEF; */
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* 메인 div 콘텐츠 영역 설정*/
.admin-page{
    margin: 50px;
}

/* 관리자 전용 페이지 입니다 문구 */
.admin-page h4{
    text-align: center;
    margin-top: 100px;
    letter-spacing: 0.2em;
}


/* 사이드 바 메뉴 글자 설정 */
.li-1{
    font-weight:bolder;
    letter-spacing: 0.5em;
    margin: 20px 0 10px 0;
}

.li-2 {
    width: 100%;
    font-size: 1.25em;
    font-weight:bolder;
    margin-top: 10px;
    /* background: #e0dcdc; */
    /* border-top: rgb(172, 151, 131) 1px solid; */
}

/* 관리 페이지 메인 영역 --------------------------------------------------------------------------*/

/* 테이블 크기 설정 테이블 크기 벗어나면 스크롤 보임*/
.table-scroll{
    width: 100%;
    height: 500px;
    overflow: auto;
}

/* 컬럼명 세로쓰기 방지 */
.table th, td {
    white-space:nowrap;
    text-align: center;
}

/* 버튼 설정*/
.btn-right {
    text-align: center;
    margin-left: 10px;
    float: right;
}

.sub-list{
    font-size: 1.15em;
    margin-right: 20px;
}

/*모달 설정 !!------------------------------------------------------------------------------*/

/* 모달 팝업시 뒷 배경 어둡게 처리 */
#modal{
    display:none;
    position:fixed; 
    width:100%; height:100%;
    top:0; left:0; 
    background:rgba(0,0,0,0.2);
  }
  
  /* 모달 박스 크기 */
  .modal-con{
    display:none;
    position:fixed;
    top:50%; left:53%;
    transform: translate(-50%,-50%);
    max-width: 60%;
    min-height: 30%;
    background:rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    border: 3px solid #d6741850;
    width: 700px;
  }
  
  /* 모달 제목 */
  .modal-con .title{
    font-size:1.5em;
    text-align: center;
  }
  
  /* 모달 컨텐츠 내용 */
  .modal-con .con{
    font-size:1.25em;
    line-height:1.3;
    text-align: center;
  }
  
  /* 모달 내부 버튼(닫기/저장) 정렬 */
  .modal-btn{
      display:block;
      position:absolute;
      top:50%; left: 50%;
      padding-left: 20px;
      line-height: 30px;
      text-align:center;
      float: center;
      transform: translate(-50%, 70px);
  }
  
  /* 모달 내부 p 상단 여유주기*/
  .con p{
      margin-top: 20px;
  }
  
  /* 버튼 설정 */
  .button {
      border: 3px solid #d6741850;
      border-radius: 10px;
      font-size: 1.15em;
  }
  
  /* 버튼 호버시 효과 */
  .madal-btn:hover{
      border: 3px solid #d6741850;
      box-shadow: 2px 2px  #d6741850;
      font-weight: bold;
  } 
  
  
  /* 모달 내부 입령창 버튼 색 통일하기 (+호버) */
  .madal-input-btn{
      border: 3px solid #d6741850;
      background-color: #ffffff;
  }
  
  .madal-input-btn:hover{
      background-color: #ffffff;
      box-shadow: none;
      color : #432;
  }
  


/* a 설정 (위치 css 가장 아래에 두기)-----------------------------------------------------*/

/* a 링크 설정 변경 */
.container-fluid li a {
    text-decoration: none;
    color : rgb(189, 172, 156);
    line-height: 2.5em;
    border:  2px solid #432;
}

/* a 링크 호버시 글자 굵게 */
.container-fluid a:hover{
    font-weight: bolder;
}

.admin-page a{
    text-decoration: none;
    color : #432;
}


/*-------------------------------------------------------------------*/

.box{
    height:500px; height: 200px;
    padding: 20px;
}

.container{
  justify-content: center;
  text-align: center;
}

.side-box{
    padding: 40px;
}

.row{
    margin-top:20px;
    padding: 20px;
    justify-content: center;
}

.side-box h3{
    font-weight: bold;
}

.inner-box{
    background: #ffffff;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 130px;
    padding: 10px;
    box-shadow : 3px 3px 10px rgb(158, 158, 158);
}

.inner-box img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.inner-box h5{
    font-weight: bold;
    color : #743C1C;
    text-align: center;
}



.inner-box:focus-within{
    border: rgb(237, 149, 62) 4px solid;
    box-shadow : none;
    box-shadow: none;
}

.pre-box {
    margin:0; padding:0;
    /* 버튼을 살짝 올리기 위해 요소를 띄우고 위치 조정 */
    z-index:999;
    margin-top:-30px;
}
    .pre-button {
        margin:0; padding:0;
        border:none;
        background:none;
        margin-right:1200px;
    }
        .pre-button img {
            width:60px; height:60px;
        }